Repository circleci-klsember/cci-pathfiltering-demo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-api-workflow, run-app-workflow, run-auth-workflow, run-gateway-workflow

Update README.md
  auth/README.md
Due: run-auth-workflow

Update config.yml
  .circleci/config.yml
Due: none

Update README.md
  gateway/README.md
Due: run-gateway-workflow

Moving Python to a script
  .DS_Store
  .circleci/config.yml
  .circleci/scripts/custom-pathfilter.py
Due: none

Moved scripts
  .circleci/config.yml
  scripts/custom-pathfilter.py
Due: none

Adding script
  .circleci/config.yml
Due: none

Use Bash-Env instead of extras with pip
  .circleci/config.yml
  scripts/custom-pathfilter.py
Due: none

Delete .DS_Store
  .DS_Store
Due: none

Update dynamic_config.yml
  .circleci/dynamic_config.yml
Due: none

Update README.md
  app/README.md
Due: run-app-workflow

Path conditions:
  run-api-workflow: any of: api/.*
  run-app-workflow: any of: app/.*
  run-auth-workflow: any of: auth/.*
  run-gateway-workflow: any of: gateway/.*
